
nav {
  line-height: 4.5;
}
  
  #root {
    max-width: 1400px;
    margin: 0 auto;
  }

  img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }

  h1 {
     margin: 0;
    font-family: sans-serif;
     font-size: 40px;
    color: #080808;
   }   
  
  h2 {
     text-align: center;
      display: block;
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
  }

  h3 {   
    display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  }
  
  
  p { color: #4c4a37;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      line-height: 32px;
        margin: 0 0 24px;
      }

  .container {
    justify-content: center;
    background: white;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
  }
  
  .chip {
   width: 300px;
  padding: 1em;
  border-radius: 15px;  
  margin: 10px;
  background: #ddd;
   }
  
@media only screen and (min-width: 768px){
  nav {
    line-height: 4.5;
  }
    
    #root {
      max-width: 1400px;
      margin: 0 auto;
    }
  
    img {
      width: 200px;
      height: 300px;
      object-fit: contain;
    }
  
    h1 {
       margin: 0;
      font-family: sans-serif;
       font-size: 40px;
      color: #080808;
     }   
    
    h2 {
       text-align: center;
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
  
    h3 {   
      display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }
    
    
    p { color: #4c4a37;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        line-height: 32px;
          margin: 0 0 24px;
        }
  
    .container {
      justify-content: center;
      background: white;
      display: flex;
      height: 100%;
      flex-wrap: wrap;
    }
    
    .chip {
     width: 300px;
    padding: 1em;
    border-radius: 15px;  
    margin: 10px;
    background: #ddd;
     }
    }